h1 {
  color: rgb(173, 127, 69) !important;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar > ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2em;
  list-style: none;
}

.navbar > ul > li a {
  text-decoration: none;
}

.navbar > ul > li {
  border-radius: 10px;
  border-style: solid;
  padding: 10px;
}
